.blueButton {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--text-blue-1);
  border-color: var(--bs-primary);

  &:hover {
    background-color: #314ac5;
  }
}
