.employeesTableRow {
  background: #ffffff;
  padding: 0px;
  color: #232d42;
  font-size: 16px;
}

td {
  padding: 10px 14px;
}

.firstNameCell {
  min-width: 120px;
}

.lastNameCell {
  min-width: 120px;
}

.statusCell {
  text-align: center;
  width: 200px;
}

.actionsCell {
  display: flex;
  gap: 6px;
  height: 100%;
  width: 115px;
  cursor: pointer;
}

// .photoCell {
//   width: 40px;
//   height: 40px;

//   img {
//     width: 40px;
//     height: 40px;
//   }
// }
