.tableHeader {
  background-color: var(--background-1);
}

// tr {
// }

th {
  text-align: start;
  padding: 10px 14px;
  font-family: Inter, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-gray-1);
}

th:nth-last-child(2) {
  text-align: center;
}

th:last-child {
  width: 115px;
  // text-align: center;
}
