:root {
  --primary: #3a57e8;
  --primary-light: #c4ccf8;
  --primary-dark: #0048b2;
  --primary-very-dark: #001f4d;

  --secondary: #6c757d;

  --input-border: #eee;

  --text-gray-1: #9ba1a7;
  --text-gray-2: #8a92a6;
  --text-gray-3: #adb5bd;
  --text-gray-4: #6c757d;

  --text-dark-1: #212529;
  --text-dark-2: #232d42;

  --text-border: --button-hover-dark #3a57e818;
  --button-hover: #314ac5;

  --background-1: #f2f3f8;
  --background-2: #ffffff;

  --shadow-color: #00112940;

  --success: #1aa053;
  --success-light: #d3ffb3;
  --success-dark: #409900;

  --error: #c03221;
  --error-light: #f2d6d3;
  --error-dark: #b20000;
}
