.employeesTableRow {
  background: #ffffff;
  padding: 0px;
  color: #232d42;
  font-size: 16px;
}

td {
  padding: 10px 14px;
}

.firstNameCell {
  min-width: 120px;
}

.lastNameCell {
  min-width: 120px;
}

.statusCell {
  text-align: center;
  width: 200px;
}

.actionsCell {
  display: flex;
  gap: 6px;
  height: 100%;
  width: 140px;
  cursor: pointer;
}

.noEmployeeRow {
  text-align: center;
  font-size: 18px;
  color: var(--text-dark-2);

  td {
    padding: 20px 14px;
  }
}
